:root {
  --primary-color: #101749;
  --secondary-color: #967503;
  --border-color: #222b6b;
  --button-text-color: white;
}

/*HEADER */
.header-cta {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.header-cta:hover, .header-cta:focus {
  background-color: var(--border-color);
  border-color: var(--border-color);
}
.u-scrolled .header-cta {
  background-color: var(--primary-color);
  border-color: var(--border-color);
}
.u-scrolled .header-cta:hover, .u-scrolled .header-cta:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* SIGNUP SECTION */
.signup {
  margin-top: 140px !important;
  margin-bottom:40px;
}

/* VIDEO SECTION */
.video-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 2.5rem #e3e6f0;
  background-color: rgba(255, 255, 255, 0.9);
}
.video-title img {
  max-height: 40px;
}